.order-book-app {
  background-color: #282c34;
  min-height: 100vh;
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

/* safari fix */
_::-webkit-full-page-media, _:future, :root .order-book-table-row {
  background-attachment: fixed !important; 
}

/* .order-book-table-row:not(:root:root) {
  background-attachment: fixed !important;
} */

.order-book-app-select:focus {
  outline: none !important;
  outline-offset: none !important;
}

@media (min-width: 768px) {
  .order-book-table {
    display: inline-block;
    width: 50%;
  };
}

@media (max-width: 768px) {
  .order-book-table {
    display: block;
    width: 100%;
  };
}

